body {
  background-color: black;
  margin: 0;
}

h2,
h3,
p {
  margin: 0;
}
.page {
  color: white;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 200px 60px 200px;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 45px 0 60px 0;
  }
}

@media screen and (max-width: 320px) {
  .main {
    padding: 28px 0 36px 0;
  }
}
