.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
  width: 880px;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
}

.post {
  background-color: white;
  border-radius: 10px;
  color: black;
  font-family: "Inter Black", sans-serif;
  font-size: 20px;
  width: 282px;
  height: 361px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.post:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.post__picture {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 282px;
  object-fit: cover;
  cursor: pointer;
}

.post__info-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 18px;
  margin-top: auto;
}

.post__info-bar-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 208px;
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.trash-icon {
  position: absolute;
  top: 18px;
  right: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 18px;
  height: 19px;
  background: url('../images/trashButton.png') no-repeat center;
}

.trash-icon:hover {
  opacity: 0.6;
}

/* Estado normal del corazón (gris) */
.heart-icon {
  background: url('../images/heart-icon.svg') no-repeat center;
  background-size: contain; /* Asegura que la imagen se escale correctamente */
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}



/* Estado "like" (rojo) */
.heart-icon_active {
  background-image: url('../images/heart-icon-black.svg') !important;
  animation: pulse 0.5s ease; /* Animación opcional */
}

/* Efecto hover */
.heart-icon:hover {
  transform: scale(1.1); /* Efecto al pasar el mouse */
  opacity: 0.8;
}

/* Animación de pulso (opcional) */
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.heart-icon_animate {
  transform: scale(1.2);
}

.post__like-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.post__like-count {
  font-size: 13px;
  color: #000;
  margin: 0;
}

/* Responsividad */
@media screen and (max-width: 900px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    max-width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .posts {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0 19px;
  }
  
  .post {
    width: 100%;
    max-width: 282px;
    margin: 0 auto;
  }
}