.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas para las tarjetas */
  gap: 17px; /* Espaciado entre las tarjetas */
  width: 880px; /* Ancho total del contenedor */
  height: auto; /* Alto total del contenedor */
  margin: 0 auto; /* Centra las tarjetas en el contenedor */
  box-sizing: border-box; /* Incluye el gap en el ancho total */
}

.post {
  background-color: white;
  border-radius: 10px;
  color: black;
  font-family: "Inter Black", sans-serif;
  font-size: 20px;
  width: 282px; /* Ancho exacto de cada tarjeta */
  height: 361px; /* Alto exacto de cada tarjeta */
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Añade profundidad */
  overflow: hidden; /* Evita desbordes del contenido */
}

.post__picture {
  border-radius: 10px 10px 0 0; /* Redondeo en la parte superior */
  width: 282px; /* Imagen cuadrada: ancho */
  height: 282px; /* Imagen cuadrada: alto */
  object-fit: cover; /* Asegura que la imagen rellene el área sin distorsión */
}

.post__info-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px; /* Espaciado interno para los textos */
  margin-top: 10px;
}

.post__info-bar-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; /* Evita que el texto se desborde */
  max-width: 208px; /* Máximo ancho del texto dentro de la tarjeta */
}

.trash-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: color 0.5s ease;
}

.trash-icon:hover {
  fill: black;
}

.heart-icon {
  height: 25px;
  width: 25px;
}

/* Responsividad */
@media screen and (max-width: 768px) {
  .posts {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Dos columnas para pantallas medianas */
    width: 100%; /* Contenedor fluido */
    gap: 15px;
  }
}

@media screen and (max-width: 480px) {
  .posts {
    grid-template-columns: repeat(1, 1fr); /* Una columna en móviles */
    width: 100%; /* Contenedor fluido */
    gap: 20px;
    padding-top: 100px;
  }

  .post {
    margin: 0 auto; /* Centra las tarjetas en móviles */
  }
}
