.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5% auto;
  width: 100%;
  border-color: aliceblue;
}

.profile__info {
  margin: 0;
  width: 60%;
}

.profile__avatar {
  max-width: 120px;
  max-height: 120px;
  border-radius: 200px;
}

.profile__info-text {
  margin-bottom: 30px;
  width: 415px;
  height: 77px;
  top: 181px;
  left: 350px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.profile__info-up {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile__info-up-name {
  font-family: "Inter Medium", sans-serif;
  font-size: 42px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
}

.profile__info-up-edit-button {
  margin-left: 15px;
  border: white solid 1px;
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile__info-up-edit-button:hover {
  border: rgba(255, 255, 255, 0.601) solid 1px;
}

.hovered-edit:hover .edit-icon {
  fill: rgba(255, 255, 255, 0.601);
}

.profile__info-edit-icon {
  height: 10px;
  width: 10px;
}

.profile__info-down {
  font-family: "Inter Regular", sans-serif;
  font-size: 18px;
}

.profile__info-down-profession {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 300px;
}

.add__card-button {
  width: 150px;
  height: 50px;
  border: solid white 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile__add-button:hover {
  border: solid rgba(255, 255, 255, 0.601) 2px;
}

.hovered-add:hover .add-icon {
  fill: rgba(255, 255, 255, 0.601);
}

@media screen and (max-width: 768px) {
  .profile {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .profile__add-button {
    width: 75%;
    margin-top: 50px;
  }

  .add__card-button {
    width: 100%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .profile__info {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .profile__info-up-name {
    font-size: 22px;
  }

  .profile__info-down-profession {
    text-align: center;
  }

  .profile__add-button {
    width: 88%;
    margin-top: 50px;
  }
}
